<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>all</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<h1>Native Query 학생 조회하기👩🏻‍💻</h1>
<table>
    <tr>
        <th>학생번호</th>
        <th>학생이름</th>
        <th>전화번호</th>
        <th>학년</th>
        <th>비밀번호</th>
        <th>재학상태</th>
        <th>전공학과</th>
        <th>지도교수</th>
    </tr>
    <tr th:each="student : ${studentList}">
        <td th:text="${student.studentCode}"></td>
        <td th:text="${student.studentName}"></td>
        <td th:text="${student.studentPhone}"></td>
        <td th:text="${student.studentGrade}"></td>
        <td th:text="${student.password}"></td>
        <td th:text="${student.studentStatus}"></td>
        <td th:text="${student.majorSubject}"></td>
        <td th:text="${student.tutorProfessor}"></td>
    </tr>
</table>
</body>
</html>