<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>student</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <h1>JPA를 활용한 학생들 조회 및 추가, 수정, 삭제 👩🏻‍💻👩🏻‍💻👩🏻‍💻</h1>
    <button onclick="location.href='/student/8'">특정 학생 조회하러 가기 👉🏻</button>
    <button onclick="location.href='/student/list'">학생 전체 조회하러 가기 👉🏻</button>
    <button onclick="location.href='/student/querymethod'">쿼리메소드 테스트하러 가기 👉🏻</button>
    <button onclick="location.href='/student/all'">Native 테스트하러 가기 👉🏻</button>
    <button onclick="location.href='/student/regist'">학생 등록하러 가기 👉🏻</button>
    <button onclick="location.href='/student/modify'">학생 이름 수정히러 가기 👉🏻</button>
    <button onclick="location.href='/student/delete'">학생 삭제하러 가기 👉🏻</button>
</body>
<style>
    button {
        font-size: 20px;
    }
</style>
</html>